@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F4F2FF;
  margin: auto;
  padding:0 100px;
  font-family: Inter;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #6E6893;
  text-align: center;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
  padding:0 10px 10px 10px;
}

.active {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #25213B;
  border-bottom: 2px solid #25213B;
}


input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.active-status {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  background: #E6E6F2;
  border-radius: 10px;
  padding:2px 5px;
  pointer-events: none;
}


.active-status > h3 {
 font-weight: 500;
 font-size: 12px;
 line-height: 15px;
 color: #4A4AFF;
}

.inactive-status > h3 {
  color:#6E6893;
}

.inactive-status {
  color:#6E6893;
  background: #F2F0F9;
}

.active-status > p {
  height: 6px;
  width: 6px;
  background: #4A4AFF;
  border-radius: 100%;
}

.inactive-status > p {
  height: 6px;
  width: 6px;
  background: #6E6893;
  border-radius: 100%;

}

.last-login {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6E6893;
  margin-top: 5px;
}

.last-login span {
  text-transform: uppercase;
}

/*  */


.paid-status {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  background: #CDFFCD;
  border-radius: 10px;
  padding:2px 5px;
  pointer-events: none;
}

.paid-status > p {
  height: 6px;
  width: 6px;
  background: #007F00;
  border-radius: 100%;
}

.paid-status > h3 {
 font-weight: 500;
 font-size: 12px;
 line-height: 15px;
 color: #007F00;
}


.overdue-status {
  color:#D30000;
  background: #FFE0E0;
}
.overdue-status > h3 {
  color: #D30000;
}
.overdue-status > p {
  height: 6px;
  width: 6px;
  background: #D30000;
  border-radius: 100%;

}

.unpaid {
  color:#965E00;
  background: #FFECCC;
}

.unpaid > p {
  height: 6px;
  width: 6px;
  background: #965E00;
  border-radius: 100%;
}

.unpaid > h3 {
  color:#965E00;
}


.pay-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  color: #25213B;
}

.pay-date span {
  text-transform: uppercase;
}




.amount {
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
  color: #25213B;
}

.amount p {
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #6E6893;
  margin-top: 5px;

}


th{
  text-align: left;
}

th {
  padding: 12px 20px;
}

td {
  padding: 12px 20px;
}

.td-custom {
  padding: 0 !important;
}


.sub-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* align-items: center;
  justify-content: center; */
  background: #F2F0F9;
  gap: 30px;
  padding: 15px 95px;
  border-bottom: 1px solid #d9d5ec;
}

.newbg {
  background: #F4F2FF !important;
}

.sub-table > h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6E6893;
}

.sub-table > h3:nth-last-child(3){
  grid-column: span 1 / span 9
}
.sub-table > h3:nth-last-child(2){
  grid-column: span 3 / span 9
}
.sub-table > h3:nth-last-child(1){
  grid-column: span 5/ span 9;
  display: flex;
  gap: 5px;
}

.sub-table > span:nth-last-child(3){
  grid-column: span 1 / span 9;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #6E6893;

}
.sub-table > span:nth-last-child(2){
  grid-column: span 3 / span 9;
  font-size: 14px;
  line-height: 17px;
  color: #25213B;
}
.sub-table > span:nth-last-child(1){
  grid-column: span 5/ span 9;
  font-size: 14px;
  line-height: 17px;
  color: #25213B;
}

.upside {
  transform: rotate(180deg);
  transition: 0.5s;
}

.downside {
  transition: 0.5s;
}

.totalPay {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #6D5BD0;
}












[data-tooltip] { max-width: 100px;}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.2s ease-in-out 0.1s;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: rgb(255, 255, 255);
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: rgb(21, 22, 39);
  border-radius: 2px;
  z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease-in-out 0.1s;
}